/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login Container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}

/* Header */
h2 {
    margin-bottom: 20px;
}

/* Role Buttons */
.role-buttons {
    margin-bottom: 20px;
}

.role-buttons button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
}

.role-buttons button.active {
    background-color: #0e2843;
}

/* .role-buttons button:hover {
    background-color: #0056b3;
} */

/* Form Styles */
.login-form .input-group {
    margin-bottom: 15px;
    text-align: left;
}

.login-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form input:focus {
    outline: none;
    border-color: #007bff;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.login-button, .register-button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
}

.login-button {
    background-color: #007bff;
    color: white;
}

.login-button:hover {
    background-color: #0056b3;
}

.register-button {
    background-color: #6c757d;
    color: white;
}

.register-button:hover {
    background-color: #5a6268;
}